body {
     position: relative;
     margin: 0;
     height: 100vh;
     overflow: hidden;
 }
 
 body::before, body::after {
     content: "";
     position: absolute;
     width: 50%;
     height: 100%;
     top: 0;
 }
 
 body::before {
     background-color: #990000; /* Rojo */
     left: 0;
 }
 
 body::after {
     background-color: #000000; /* Negro */
     right: 0;
 }
 
 
 .titulo {
     font-size: 55px;
     text-transform: uppercase;
     letter-spacing: 7px;
 }
 
 .galeria img {
     box-shadow: 0 8px 10px -4px rgba(145, 4, 4, 0.473);
     border-radius: 15px;
 }
 
 .materialbox-caption {
     bottom: 30px;
     right: 0;
     width: 40%;
     height: auto;
     padding: 10px;
     margin: auto;
     background: #dbd1d10e;
     box-shadow: 5px 5px #ffffff3b;
     font-size: 20px;
     color: #050505;
     line-height: 28px;
 }
 
 .galeria .col {
     margin-bottom: 20px;
 }
 
 @media screen and (max-width: 600px) {
     .materialbox-caption {
         width: 90%;
     }
 }
 
 @media screen and (max-width: 992px) {
     .materialbox-caption {
         width: 70%;
     }
 }
 